<body>
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col">
    <h1 class="mt-5 mb-3">Listing Details</h1>

    <div>
  <img src="<%=listing.image.url%>" class="show" alt="listing-image" style="width : 500px; height:300px">
  <div class="card-body">
    <p class="card-text">
               <ul>
        <b> <li><%=listing.title%></li></b>
         <li><%=listing.description%></li>
         <li>&#8377;<%=listing.price.toLocaleString("en-IN")%></li>
         <li><%=listing.location%></li>
         <li><%=listing.country%></li>
    </ul>

    </p>
  </div>
</div>
<div class="d-flex  gap-5">
    <a href="/listings/<%=listing._id%>/edit"><button class="btn btn-primary mb-5">Edit Listing</button></a>
    <br/><br/>
    <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
<button class="btn btn-danger">Delete Listing</button>
</div>
    </form>
</body>
</div>
</div>
</div>