<body>
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col">
    <h1 class="mt-5 mb-3"><%=listing.title%></h1>

    <div>
  <img src="<%=listing.image.url%>" class="img-fluid" alt="listing-image" style="width : 500px; height:300px">
  <div class="card-body">
    <p class="card-text">
               <ul>
                <li>Owned by : <b><%=listing.owner.username%></b></li>
         <li><%=listing.description%></li>
         <li>&#8377; <%= listing.price?.toLocaleString("en-IN") || "Not available" %>/ night</li>
         <li><%=listing.location%></li>
         <li><%=listing.country%></li>
    </ul>

    </p>
  </div>
</div>
<% if(currentUser && currentUser._id.equals(listing.owner._id)){%>
<div class="d-flex  gap-5">
    <a href="/listings/<%=listing._id%>/edit"><button class="btn btn-primary mb-5">Edit Listing</button></a>
    <br/><br/>
    <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
<button class="btn btn-danger">Delete Listing</button>
</div>
<%}%>
    </form>
    <div>
      <hr/>
      <form action="/listings/<%=listing._id%>/reviews" method="POST" class="needs-validation" novalidate>
        <h4>Leave a Review</h4>
        <div>
        <label for="review" class="form-label">Rating</label>
        <input type="number" name="review[rating]" class="form-control" min="1" max="5" style="width:200px" required>
        <div class="invalid-feedback">Enter Rating</div>
        </div>
        <div>
          <label for="textArea" class="form-label">Comment</label>
          <textarea class="form-control" name="review[comment]" required></textarea>
          <div class="invalid-feedback">Enter comment</div>
        </div>
        <button class="btn btn-outline-dark mt-3 mb-5">Submit</button>
      </form>
    </div>
    <div>
      <h4>Reviews</h4>
      <%if(listing.reviews && listing.reviews.length > 0) {%>
        <% listing.reviews.forEach(function(review){%>
          <div class="card mb-2">
            <div class="card-body">
              <strong>Rating : </strong> <%=review.rating%><br/>
              <strong>Commet : </strong> <%=review.comment%><br/>
              <form method="POST" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE" class="d-inline">
                <button class="btn btn-danger btn-sm mt-2">Delete</button>
              </form>
            </div>
          </div>
        <%});%>
        <%}
        else { %>
          <p>No reviews yet.</p>
          <%}%>
    </div>
</div>
</div>
</div>
</body>

