<body>
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col">
    <h1 class="mt-5 mb-3"><%=listing.title%></h1>

    <div>
  <img src="<%=listing.image.url%>" class="img-fluid" alt="listing-image" style="width : 500px; height:300px">
  <div class="card-body">
    <p class="card-text">
               <ul>
         <li><%=listing.description%></li>
         <li>&#8377; <%= listing.price?.toLocaleString("en-IN") || "Not available" %>/ night</li>
         <li><%=listing.location%></li>
         <li><%=listing.country%></li>
    </ul>

    </p>
  </div>
</div>
<div class="d-flex  gap-5">
    <a href="/listings/<%=listing._id%>/edit"><button class="btn btn-primary mb-5">Edit Listing</button></a>
    <br/><br/>
    <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
<button class="btn btn-danger">Delete Listing</button>
</div>
    </form>

</div>
</div>
</div>
</body>

